---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import CollaboratorCursor from "./ui/CollaboratorCursor";
import { getCollection } from "astro:content";

interface Image {
    src: string;
    alt: string;
}

const charactersCollection = await getCollection("characters");
charactersCollection.sort((a, b) => a.data.order.valueOf() - b.data.order.valueOf());

const cards = await Promise.all(
    charactersCollection.map(async (card) => {
        const { Content } = await card.render();
        return {
            ...card.data,
            Content,
        };
    })
);

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/cards/*.{jpeg,jpg,png,webp}");
---

{
    cards.map((card) => (
        <article
            class:list={[
                "sticky top-[100px] md:top-[76px] h-full rounded-[60px] flex flex-col pb-[90px] px-[47px] md:px-10 pt-[40px] pb-[114px] md:pb-[40px] justify-between relative overflow-hidden",
                card.bgColor,
            ]}>
            <div class="flex flex-row md:justify-between md:px-[21px] w-full pb-[40px]">
                <div class="flex flex-row md:gap-[124px] w-full gap-6 justify-start md:pl-[23px]">
                    <div class="flex flex-col gap-1 text-opacity-80 font-semibold text-xs">
                        <p class="uppercase">
                            <span class="hidden md:flex">{card.category}</span>
                            <span class="md:hidden">NOS HÉROS</span>
                        </p>
                        <p>{card.point} pts</p>
                    </div>
                    <h2 class="font-bold tracking-tight flex-1 text-xs">{card.title}</h2>
                </div>
                <div class="hidden md:flex flex-row gap-5">
                    {card.cursors.map((cursor) => (
                        <CollaboratorCursor
                            title={"@" + cursor.title}
                            side="left"
                            style={cursor.color}
                            isTextColored={cursor.isTextColored}
                        />
                    ))}
                </div>
            </div>
            <div class="flex flex-col md:flex-row gap-6 h-full w-full">
                <div class="flex-shrink relative">
                    <Image
                        src={images[card.image.src]()}
                        alt={card.image.alt}
                        width={987}
                        height={696}
                        class="rounded-xl object-contain h-auto w-full"
                    />
                    <div class="absolute top-[-27px] right-[-22px] md:hidden flex flex-col-reverse">
                        {card.cursors.map((cursor) => (
                            <CollaboratorCursor
                                title={"@" + cursor.title}
                                side="left"
                                style={cursor.color}
                                isTextColored={cursor.isTextColored}
                            />
                        ))}
                    </div>
                </div>
                <div class="flex flex-col justify-start gap-8 text-xs font-semibold md:pt-[26px] flex-1 md:min-w-[245px] md:max-w-[400px] text-cod_black dark:text-cod_white dark:text-opacity-80 text-opacity-60 md:pr-[48px] leading-5">
                    <card.Content />
                </div>
            </div>
            <div
                class:list={[
                    "w-[135px] h-[135px] md:w-[calc(310px/1.7)] md:h-[calc(310px/1.7)] lg:w-[calc(310px/1.2)] lg:h-[calc(310px/1.2)] xl:w-[310px] xl:h-[310px] flex items-center justify-center rounded-full absolute bottom-0 right-0 translate-y-[25%] md:translate-x-[18%] md:translate-y-[18%]",
                    card.icon.color,
                ]}>
                <Icon class={card.icon.size} name={card.icon.name} />
            </div>
        </article>
    ))
}
