---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import type { CollaboratorCursorColors } from "./CollaboratorCursor.astro";
import CollaboratorCursor from "./CollaboratorCursor.astro";

interface Image {
    src: string;
    alt: string;
}

interface SVG {
    name: string;
    color: string;
    size?: string;
}

interface Cursor {
    title: string;
    color: CollaboratorCursorColors;
}

interface Props {
    title: string;
    category: string;
    image: Image;
    point: string;
    description: string;
    bgColor: string;
    icon: SVG;
    cursors: Cursor[];
}

const { title, category, image, point, description, bgColor, icon, cursors } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/cards/*.{jpeg,jpg,png,webp}");
---

<div class:list={["h-full rounded-[60px] flex flex-col p-10 justify-between gap-10 relative overflow-hidden", bgColor]}>
    <div class="flex flex-row justify-between px-5">
        <div class="flex flex-row gap-32 justify-start pl-7">
            <div class="flex flex-col gap-1 text-opacity-80">
                <p class="uppercase">{category}</p>
                <p>{point} pts</p>
            </div>
            <p class="font-bold tracking-tight">{title}</p>
        </div>
        <div class="flex flex-row gap-8">
            {
                cursors.map((cursor) => (
                    <CollaboratorCursor title={"@" + cursor.title} side="left" style={cursor.color} />
                ))
            }
        </div>
    </div>
    <div class="flex flex-row gap-5">
        <Image src={images[image.src]()} alt={image.alt} width={987} height={696} class="rounded-xl" />
        <div
            class="flex flex-col gap-8 text-xs font-semibold flex-1 pt-[26px] text-cod_black dark:text-cod_white dark:text-opacity-80 text-opacity-60 max-w-60">
            <Fragment set:html={description} />
        </div>
    </div>
    <div
        class:list={[
            "p-20 rounded-full absolute bottom-0 right-0 translate-y-[15%] translate-x-[15%]",
            icon.color,
        ]}>
        <Icon class:list={["h-24 w-24", icon.size]} name={icon.name} />
    </div>
</div>
